/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f5deb3; /* Beige clair */
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    background: #faebd7; /* Blanc antique */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h2, h3 {
    color: #654321; /* Marron foncé */
}

/* Style des liens */
a {
    text-decoration: none;
    font-size: 16px;
    color: #654321; /* Marron foncé */
    transition: all 0.3s ease;
}

a:hover {
    font-size: 20px;
    color: #8B4513; /* Marron plus foncé */
    cursor: pointer;
}

/* Style du footer */
.footer {
    text-align: center;
    padding: 10px;
    background: #deb887; /* Brun clair */
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #654321; /* Marron foncé */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
